.react {
  color:  #61DBFB;
}

.node {
  color: #68a063	;
}

.mongodb {
  color: #68a063	;
}

.postgresql {
  color:  #336791;
}

.docker {
  color: #0db7ed;
}

.bootstrap {
  color: #563d7c;
}

.next-js {
  color: #5e7693;
}

.css {
  color: #264de4;
}

.git {
  color: #f34f29;
}

.firebase-analytics {
  color: #ff934f;
}