.experience-column {
  background: #add8e620;
  padding: 1rem;

  margin-bottom: 1rem;
}

.experience-column: last-child {
  margin: 0;
}

.experience-column > h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
}

.experience-column > p {
  font-style: italic;
}

p .duration {
  font-style: normal;
  font-weight: bold;
}

.task-points {
  margin: 0;
  padding: 0;

  list-style-type: circle;
}

.task-points > li {
  margin-left: 1.2rem;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}